body {
    padding: 5%;
    text-align: center;
}

.link-home{
    position: absolute;
    left : 30px;
    top : 30px;
}

.clue{
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 30px 
}

.text-revealed{
    animation-name: fade-in;
    animation-duration: 1s;
    visibility: visible;
}

.text-hidden{
    visibility: hidden;
}

@keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 100;}
}